/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

img {
  fill: "#BBB"
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}